.page-create {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    color: #333;
  }
  
  .create-titre {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #2d3436;
  }
  
  .form-create {
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .label-create {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #636e72;
  }
  
  .input-create,
  textarea.input-create {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdde1;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s ease;
    background: #f7f7f7;
  }
  
  .input-create:focus,
  textarea.input-create:focus {
    border-color: #0984e3;
    background: #fff;
    outline: none;
  }
  
  .img-create {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 12px;
    border-radius: 10px;
    border: 2px solid #ddd;
  }
  
  .button-create {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: #0984e3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button-create:hover {
    background: #0768b3;
  }
  
  .button-create:disabled {
    background: #b2bec3;
    cursor: not-allowed;
  }
  
  .text-error-create {
    color: #d63031;
    background: #ffe8e8;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
  }
  
  .text-success-create {
    color: #00b894;
    background: #e8fff6;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
  }
  