.admin-sidebar {
  width: 260px;
  height: 100vh;
  background-color: #1b263b;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: fixed;
  left: 0;
  top: 0;
}

.admin-info {
  margin-bottom: 30px;
  border-bottom: 1px solid #415a77;
  padding-bottom: 10px;
}

.admin-info h3 {
  font-size: 18px;
  font-weight: bold;
  color: #e0e1dd;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar-menu li {
  margin: 18px 0;
}

.sidebar-menu li a {
  color: #e0e1dd;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px 0;
  transition: 0.3s;
}

.sidebar-menu li a:hover {
  color: #00b4d8;
  padding-left: 10px;
}

.logout-btn {
  background-color: #e63946;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: auto;
  width: 100%;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #d00000;
}

.admin-layout {
  display: flex;
  height: 100vh;
}

.admin-sidebar {
  width: 250px;
  background: #0a2239;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
}

.admin-content {
  flex: 1;
  padding: 50px;
  margin-top: -15px;
  background: #f7f7f7;
  overflow-y: auto;
  margin-left: 250px;
  width: calc(100% - 250px);
}